# Assignment 1

In [2]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

### 01. Length of the salaries

In [4]:
len(salaries)

7

### 02. Retrieve the third salary by using index

In [6]:
salaries[2]

'50k'

### 03. Extract the last salary by using a negative index

In [8]:
salaries[-1]

'40k'

### 04. Slice the salaries list to get only the middle three salaries

In [10]:
salaries[2:5]

['50k', '60k', '35k']

### 05. Add a new salary to the list, ‘100k’ by using append() method

In [12]:
salaries.append('100k')

print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

### 05. Add a new salary to the list, ‘120k’ without method

In [14]:
salaries[len(salaries):] = ['120k']

print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

### 06. Replace the third salary in the list with '55k' and print the updated list

In [16]:
salaries[2] = '55k'

print(salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

### 07. Count how many times '40k' appears in the list

In [18]:
salaries.count('40k')

2

### 08. Insert a new salary at the second position

In [20]:
salaries.insert(1, '45k')

print(salaries)

['20k', '45k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

### 09. Reverse the order of the salaries list with method.

In [24]:
salaries.reverse()

print(salaries)

['20k', '45k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

### 10. Reverse the order of the salaries list without method

In [36]:
print(salaries[::-1])

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '45k', '20k']