# Assignment 04

### Quuestion 01

In [4]:
my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

# Task 1: Print all elements from my_tuple on a new line
print("Elements of my_tuple:")
for element in my_tuple:
    print(element)

# Task 2: Create a new tuple by concatenating the first and last elements
new_tuple = my_tuple[0] + tuple(my_tuple[-1])  
print("New tuple:", new_tuple)

Elements of my_tuple:
(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]
New tuple: (1, 2, 3, 7, 8, 9)

### Question 02

In [1]:
inventory = { 
    "The Great Gatsby": {"price": 10.99, "quantity": 5}, 
    "Rich dad poor dad": {"price":8.99, "quantity": 8}, 
    "Harry Potter": {"price": 12.50, "quantity": 2}, 
} 
#adding new book in the inventory 
new_book=inventory.update({"Smarter Way to Learn Python":{"price":15.99,"quantity":0}})
#get all the title using methods
for i in inventory.keys():
    print(i)
#remove a book if's out of stock
book_to_del=[]
for key,value in inventory.items():
    if value["quantity"]==0:
        book_to_del.append(key)
for i in book_to_del:
    deletedbook=inventory.pop(i)
    print(f"Deleted Book: {i}:{deletedbook}")

The Great Gatsby
Rich dad poor dad
Harry Potter
Smarter Way to Learn Python
Deleted Book: Smarter Way to Learn Python:{'price': 15.99, 'quantity': 0}

### Question 03

In [4]:
products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}

# Increase the stock of the "Shirt" product (add 50 more units)
products[102]["stock"] += 50

# Add a new product (e.g., "Smartphone")
products[104] = {
    "name": "Smartphone",
    "category": "Electronics",
    "price": 700,
    "stock": 100
}

# Print the updated products dictionary
print(products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 700, 'stock': 100}}

### Question 04

In [7]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

# Remove duplicates by converting the list to a set
unique_shopping_list = list(set(shopping_list))

# Print the unique shopping list
print(unique_shopping_list)

['banana', 'orange', 'apple', 'grape']

### Question 05

In [12]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

# Find students who are in Course A but not in Course B (difference)
difference_a_b = course_a - course_b

# Find students who are only in one of the two courses (symmetric difference)
symmetric_difference = course_a ^ course_b

# Print the results
print("Students in Course A but not in Course B:", difference_a_b)
print("Students only in one of the two courses:", symmetric_difference)

Students in Course A but not in Course B: {'John', 'Bob'}
Students only in one of the two courses: {'Eve', 'John', 'Charlie', 'Bob'}

### Question 06

In [31]:
sum_of_evens = 0

# Use a for loop to iterate through all numbers from 1 to 50
for number in range(1, 51):
    # Check if the number is even
    if number % 2 == 0:
        # Add the even number to sum_of_evens
        sum_of_evens += number

# Print the total sum of all even numbers between 1 and 50
print("f The sum of all even numbers between 1 and 50 is:", sum_of_evens)

f The sum of all even numbers between 1 and 50 is: 650

### Question 07

In [38]:
number = int(input("Enter a number between 1 and 10: "))

# Check if the input is within the valid range
if 1 <= number <= 10:
    # Use a for loop to generate the multiplication table
    for i in range(1, 11):
        product = number * i
        print(f"{number} x {i} = {product}")
else:
    print("Please enter a valid number between 1 and 10.")

Enter a number between 1 and 10:  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

### Question 08

In [41]:
number = int(input("Enter a number: "))

# Initialize the exponent
exponent = 1

# Use a while loop to calculate and print powers from 1 to 10
while exponent <= 10:
    result = number ** exponent
    print(f"{number}^{exponent} = {result}")
    exponent += 1

Enter a number:  6

6^1 = 6
6^2 = 36
6^3 = 216
6^4 = 1296
6^5 = 7776
6^6 = 46656
6^7 = 279936
6^8 = 1679616
6^9 = 10077696
6^10 = 60466176

### Question 09

In [47]:
number = int(input("Enter a number to start the countdown: "))

# Use a while loop to count down to 0
while number >= 0:
    print(number)
    number -= 1

# Print a message indicating the countdown is finished
print("Countdown finished!")

Enter a number to start the countdown:  69

69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
Countdown finished!

### Question 10

In [55]:
n = int(input("Enter the number of rows for the triangle pattern: "))

# Generate the triangle pattern
for i in range(1, n + 1):
    print("* " * i)

Enter the number of rows for the triangle pattern:  29

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * *