# Assignment 07

In [1]:
import pandas as pd

In [5]:
#data reading
df = pd.read_csv("compensation data.csv")
df

,experience_coding,python_user,r_user,sql_user,most_used,compensation
0,6.1,True,False,True,Scikit-learn,124267
1,12.3,True,True,True,Scikit-learn,236889
2,2.2,True,False,False,NaN,74321
3,2.7,False,False,True,NaN,62593
4,1.2,True,False,False,Scikit-learn,36288
...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800
25969,1.4,True,False,False,PyTorch,62456
25970,0.0,False,False,False,NaN,923
25971,9.4,True,False,True,Scikit-learn,60609
25972,0.0,False,False,False,NaN,493

In [9]:
df.dtypes

experience_coding    float64
python_user             bool
r_user                  bool
sql_user                bool
most_used             object
compensation           int64
dtype: object

In [15]:
df["most_used"].fillna('Unknown',inplace=True)
df

,experience_coding,python_user,r_user,sql_user,most_used,compensation
0,6.1,True,False,True,Scikit-learn,124267
1,12.3,True,True,True,Scikit-learn,236889
2,2.2,True,False,False,Unknown,74321
3,2.7,False,False,True,Unknown,62593
4,1.2,True,False,False,Scikit-learn,36288
...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800
25969,1.4,True,False,False,PyTorch,62456
25970,0.0,False,False,False,Unknown,923
25971,9.4,True,False,True,Scikit-learn,60609
25972,0.0,False,False,False,Unknown,493

In [17]:
#python_users

python_users=df[["python_user"]]
python_users[python_users["python_user"]==True].count()

python_user    21860
dtype: int64

In [20]:
#R_users

R_users=df[["r_user"]]
R_users[R_users["r_user"]==True].count()

r_user    5335
dtype: int64

In [22]:
#SQL_users

SQL_users=df[["sql_user"]]
SQL_users[SQL_users["sql_user"]==True].count()

sql_user    10757
dtype: int64

In [24]:
#Avg_compensation

Avg=df["compensation"].mean()
round(Avg,2)

53252.82

In [28]:
#Avg_experience

Avg_Coding=df["experience_coding"].mean()
round(Avg_Coding,2)

5.3

In [30]:
#Adding_Category


df["Catagory"]=None
df.loc[df["experience_coding"]<5,"Catagory"]='< Than 5'
df.loc[(df["experience_coding"]<10) & (df["experience_coding"]>=5),"Catagory"]='< Than 10'
df.loc[(df["experience_coding"]<15) & (df["experience_coding"]>=10) ,"Catagory"]='< Than 15'
df.loc[(df["experience_coding"]<20) & (df["experience_coding"]>=15) ,"Catagory"]='< Than 20'
df.loc[(df["experience_coding"]<25) & (df["experience_coding"]>=20) ,"Catagory"]='< Than 25'
df.loc[(df["experience_coding"]>25)  ,"Catagory"]='25 Years +'

In [32]:
df

,experience_coding,python_user,r_user,sql_user,most_used,compensation,Catagory
0,6.1,True,False,True,Scikit-learn,124267,< Than 10
1,12.3,True,True,True,Scikit-learn,236889,< Than 15
2,2.2,True,False,False,Unknown,74321,< Than 5
3,2.7,False,False,True,Unknown,62593,< Than 5
4,1.2,True,False,False,Scikit-learn,36288,< Than 5
...,...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800,< Than 5
25969,1.4,True,False,False,PyTorch,62456,< Than 5
25970,0.0,False,False,False,Unknown,923,< Than 5
25971,9.4,True,False,True,Scikit-learn,60609,< Than 10
25972,0.0,False,False,False,Unknown,493,< Than 5

In [36]:
#writing into new file
df.to_csv("Updated_file.csv",index=False)